@font-face {
    font-family: "lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "baloo";
    src: url("../fonts/Baloo_Bhai_2/BalooBhai2-VariableFont_wght.ttf");
}
@font-face {
    font-family: "logo";
    src: url("../fonts/cartoonist_kooky.ttf");
}